body,
html {
    background: $mainColor;
}

.container {
    width: 100%;
    background: $mainColor;

    .visual-container {
        width: 100%;
        height: calc(100vh - 70px);
        min-height: 570px;

        .visual-list {
            width: 100%;
            height: 100%;

            .visual-item {
                position: relative;
                width: 100%;
                height: 100%;
                background: url('../../images/main-visual01.jpg') no-repeat center center / cover;

                .text-wrapper {
                    padding-left: 338px;
                    box-sizing: border-box;
                    font-family: $title;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    &:after {
                        content: "";
                        width: 338px;
                        height: 69px;
                        box-sizing: border-box;
                        border-top: solid 3px $subColor;
                        border-bottom: solid 3px $subColor;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0px;
                    }

                    .title-box {
                        position: absolute;
                        bottom: 75%;
                    }

                    .sub-text {
                        font-size: 26px;
                        color: $subColor;
                        font-weight: 300;
                        font-family: $text;
                    }

                    .title {
                        font-size: 80px;
                        margin: 20px 0px;
                        font-weight: 300;
                        color: $subColor;
                    }

                    .text-link {
                        position: absolute;
                        top: 77%;
                        //bottom: 200px;
                        display: flex;
                        gap: 60px;

                        a {
                            color: $subColor;
                            font-size: 16px;
                            font-family: $text;
                        }
                    }
                }

            }
        }

        //visual-list

        .control-wrapper {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 86%;
            display: flex;
            align-items: center;
            gap: 20px;

            .dot-list {
                display: flex;
                gap: 20px;

                li {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.5);
                    border: solid 2px transparent;
                    background-clip: padding-box;
                    /*
                    background-clip
                    배경 이미지나 배경컬러를 영역 어디에 설정하는지 정하는 속성
                    border-box : 테두리영역과 그 안쪽까지 영역을 채움
                    padding-box : 안쪽 여백 영역까지만 영역을 채움
                    content-box : 컨텐츠 내용까지만 영역을 채움


                    */

                    &.active {
                        border-color: $subColor;
                        background: transparent;
                    }
                }

                //li

            }

            //dot-list
            .pause-btn {
                width: 20px;
                height: 20px;
                font-size: 20px;
                color: #ffffff;
                display: flex;
                justify-content: center;

                .bx-play {
                    display: none;
                }
            }
        }
    }

    //visual-container


    .model-container {
        padding: 200px 0px 0px 200px;
        margin-bottom: 280px;

        .title-box {
            margin-bottom: 24px;

            .title {
                margin-bottom: 24px;
                font-size: 42px;
                color: $subColor;
                font-family: $title;
                font-weight: 300;

            }

            .text {
                color: #cccccc;
                font-size: 16px;
                font-family: $text;
                font-weight: 300;

            }
        }

        //title-box
        .category {
            width: 300px;
            margin-bottom: 90px;
            border-bottom: solid 1px $subColor;

            a {
                padding: 16px 10px;
                color: $subColor;
                font-size: 16px;
                display: flex;

                &:after {
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    background: url('../../images/w-ico-arrow-top.png') no-repeat center center / 12px;
                    margin-left: auto;
                    transform: rotate(180deg);
                    transition: 250ms; //단위 필수
                }

                &:hover:after {
                    transform: rotate(0deg);
                }

            }
        }

        //category
        .categoryM {
            width: 100%;
            margin: 50px 0px;
            padding: 0px 30px;
            box-sizing: border-box;
            display: none;

            .category-list {

                display: flex;

                li {
                    width: 33%;
                    border-bottom: solid 1px rgba(255, 255, 255, 0.2);

                    a {
                        padding: 20px 0px;
                        display: flex;
                        justify-content: center;
                        color: #808080;
                        font-size: 18px;
                    }

                    &.active {
                        border-color: rgba(255, 255, 255, 0.9);

                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .model-wrapper {
            width: 100%;

            .model-list {
                display: flex;
                gap: 40px;

                .item {
                    background: #151515;
                    padding: 40px;
                    box-sizing: border-box;
                    border: solid 1px transparent;
                    transition: 500ms;
                    position: relative;

                    .title-box {
                        position: relative;

                        .text {
                            color: $textColor2;
                            font-size: 16px;
                            margin-bottom: 10px;
                            height: 16px;
                            min-height: 16px;
                            transition: 500ms;

                        }

                        .title {
                            color: $textColor2;
                            font-size: 30px;
                            transition: 500ms;
                        }

                        .icon-list {
                            position: absolute;
                            right: 0px;
                            top: 50%;
                            display: flex;
                            gap: 6px;
                        }
                    }

                    .dic-btn {
                        width: 100%;
                        height: 56px;
                        box-sizing: border-box;
                        border: solid 1px $subColor;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $subColor;
                        margin-top: 60px;
                        position: relative;
                        z-index: 1;
                        transition: 500ms;

                        &:hover {
                            color: $mainColor;
                        }

                        &:after {
                            content: "";
                            width: 0px;
                            height: 100%;
                            background: #ffffff;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            z-index: -1;
                            transition: 500ms;
                        }

                        &:hover:after {
                            width: 100%;

                        }

                    }

                    &:hover {
                        //border-color: #dddddd;
                        background-color: rgba(255, 255, 255, 0.03);
                    }

                    &:hover .title-box .title,
                    &:hover .title-box .text {
                        color: $subColor;
                    }

                    &:hover .dic-btn {
                        transform: translateY(-10px);
                    }

                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        display: block;
                        border-right: solid 1px #ffffff;
                        border-bottom: solid 1px #ffffff;
                        position: absolute;
                        top: 0px;
                        right: 0px;

                    }

                    &:hover:before {
                        width: 100%;
                        height: 100%;
                        transition: height 100ms, width 100ms 100ms;

                    }

                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        display: block;
                        border-top: solid 1px #ffffff;
                        border-left: solid 1px #ffffff;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                    }

                    &:hover:after {
                        width: 100%;
                        height: 100%;
                        transition: height 100ms 200ms, width 100ms 300ms;
                    }
                }

                //item
            }

            .dot-wrapper {
                display: flex;
                justify-content: center;
                margin-top: 40px;

                .dot-list {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    li {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.5);
                        border: solid 2px transparent;
                        background-clip: padding-box;

                        &.active {
                            background: transparent;
                            border-color: $subColor;
                        }
                    }
                }
            }
        }

        //wrapper
    }

    //model
    .icon-content-container {
        padding: 0px 100px;

        .icon-list {
            display: flex;
            justify-content: center;

            li {
                flex-grow: 1;
                padding: 0px 50px;

                a {
                    display: flex;
                    flex-direction: column;
                    color: #ffffff;
                    font-size: 14px;
                    gap: 30px;
                    align-items: center;
                    padding: 28px 0px;

                    img {
                        width: 60px;
                    }
                }
            }
        }

    }

    .award-container {
        width: 100%;
        padding: 240px 0px 200px;

        >.title {
            color: $subColor;
            font-size: 42px;
            padding-left: 338px;
            font-weight: 300;
            font-family: $title;
            margin-bottom: 70px;
        }

        .award-wrapper {
            width: 100%;
            position: relative;

            .award-item {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;

                .award-item-list {
                    padding-left: 338px;
                    display: flex;
                    padding-right: 140px;

                    li {
                        border-top: solid 1px #808080;
                        padding: 20px 0px;
                        width: calc(100% / 6);

                        a {
                            display: block;
                            color: #808080;
                            font-size: 14px;
                            width: 85%;
                            line-height: 1.5;
                        }
                    }
                }

                //award-item-list
                .text-box {
                    width: 520px;
                    position: absolute;
                    padding-left: 338px;
                    bottom: 17%;
                    left: 0px;

                    .title {
                        font-size: 42px;
                        color: $subColor;
                        margin-bottom: 30px;
                        font-family: $title;
                        font-weight: 300;
                        line-height: 1.5;

                        span {
                            font-size: 30px;
                            display: block;
                            margin-top: 10px;
                        }
                    }

                    .text {
                        color: $subColor;
                        font-size: 16px;
                        line-height: 1.8;
                        letter-spacing: -0.5px;
                    }
                }

                .pause-btn {
                    width: 54px;
                    height: 54px;
                    background: url('../../images/ico-pause-default.png') no-repeat center center / 54px;
                    bottom: 0px;
                    right: 70px;
                    position: absolute;
                    border: solid 1px #808080;
                    border-radius: 50%;
                    transition: 500ms;

                    &:hover {
                        background-image: url('../../images/ico-pause-hover.png');
                    }
                }
            }

        }
    }

    .option-container {
        width: 100%;
        margin-bottom: 240px;

        .option-list {
            display: flex;
            gap: 40px;

            li {
                width: 50%;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: rgba(0, 0, 0, 0.5);
                }

                .mobile {
                    display: none;
                }

                .text-box {
                    position: absolute;
                    top: 60px;
                    left: 60px;
                    width: 480px;
                    z-index: 9;

                    .title {
                        font-size: 42px;
                        font-weight: 300;
                        color: $subColor;
                        margin-bottom: 20px;
                    }

                    .text {
                        font-size: 16px;
                        color: $subColor;
                        margin-bottom: 20px;
                        line-height: 1.5;
                    }

                    .link-btn {
                        color: $subColor;
                        display: inline-flex;

                        span {
                            position: relative;
                            font-size: 16px;

                            &:before {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background: $subColor;
                                display: inline-block;
                                position: absolute;
                                bottom: -5px;
                                left: 0px;
                            }

                            &:after {
                                content: "";
                                width: 0px;
                                height: 1px;
                                background: #ffffff;
                                display: inline-block;
                                position: absolute;
                                bottom: -5px;
                                left: 0px;
                                transition: 300ms;
                            }
                        }

                        &:after {
                            content: "";
                            display: block;
                            width: 11px;
                            height: 11px;
                            background: url('../../images/ico-arrow-white.png') no-repeat center center / 11px;
                            transform: rotate(180deg);
                            margin-left: 5px;
                        }

                        &:hover span:before {
                            width: 0px;
                        }

                        &:hover span:after {
                            width: 100%;
                        }
                    }
                }

            }
        }
    }

    .event-container {
        width: 100%;
        position: relative;
        margin-bottom: 240px;

        .mobile {
            display: none;
        }

        .text-box {
            position: absolute;
            top: 50%;
            left: 140px;
            transform: translateY(-50%);

            .title {
                font-size: 54px;
                color: $subColor;
                margin-bottom: 60px;
                font-weight: 300;
                font-family: $title;
            }

            .text {
                font-size: 26px;
                color: $subColor;
                margin-bottom: 40px;
            }

            .btn {
                width: 240px;
                height: 56px;
                border: solid 2px rgba(255, 255, 255, 0.8);
                color: $subColor;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                &:after {
                    content: "";
                    width: 0px;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: $subColor;
                    transition: 250ms;
                    z-index: -1;
                    opacity: 0;
                    transition: width 0ms 400ms, opacity 700ms;
                }

                &:hover {
                    color: #333333;
                }

                &:hover:after {
                    width: 100%;
                    opacity: 1;
                    transition: width 400ms, opacity 0ms;
                }
            }
        }
    }

    .social-container {
        padding: 160px 0px 120px;
        background: $subColor;
        text-align: center;

        .sub-title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .title {
            font-size: 54px;
            margin-bottom: 80px;
            font-weight: 300;
            font-family: $title;
        }

        .social-list {
            display: flex;
            gap: 8px;

            li {
                //padding-top: 30%;
                position: relative;
                width: 100%;
                overflow: hidden;

                .social-img {

                    position: relative;
                    top: 0px;
                    left: 0px;
                    //width: 100%;
                    //height: 100%;
                    padding-top: 100%;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: 250ms;
                    }
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: rgba(0, 0, 0, 0.0);
                    transition: 250ms;
                }

                &:hover:after {
                    background: rgba(0, 0, 0, 0.5);
                }

                &:hover .social-img img{
                    transform: translate(-50%, -50%) scale(1.2);
                }
                &:hover .text-box{
                    opacity: 1;
                }

                .text-box {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    padding: 0px 30px 0px 70px;
                    box-sizing: border-box;
                    text-align: left;
                    z-index: 2;
                    opacity: 0;
                    transition: 250ms;

                    .bx {
                        font-size: 30px;
                        color: #ffffff;
                        position: absolute;
                        top: -10px;
                        left: 30px;
                    }

                    .text {
                        @include ellipse(28px, 2);
                        color: #ffffff;
                        font-size: 14px;
                        margin-bottom: 10px;

                    }
                }
            }

        }
        .more-btn{
            width: 240px;
            height: 56px;
            border: solid 1px #111111;
            padding-left: 28px;
            box-sizing: border-box;
            position: relative;
            font-size: 16px;
            text-align: left;
            margin-top: 60px;
            background: transparent url('../../images/ico-btn-more-black.png') no-repeat right 18px center / 12px;
            z-index: 1;

            &:hover{
                color: $subColor;
            }
            &:after{
                content: "";
                width: 0px;
                height: 100%;
                background: #111111;
                position: absolute;
                top: 0px;
                left: 0px;
                opacity: 0;
                transition: width 0ms 500ms, opacity 500ms 0ms;
                z-index: -1;
            }
            &:hover:after{
                width: 100%;
                opacity: 1;
                transition: width 500ms, opacity 0ms;

            }
        }
    }
    .more-container{
        background-color: $subColor;
        padding-bottom: 120px;
        .inner{
            >.title{
                font-size: 30px;
                margin-bottom: 40px;
                text-align: center;
            }
            .more-list{
                display: flex;
                gap: 40px;
                li{
                    width: 33%;
                    .img-wrap{
                        margin-bottom: 30px;
                    }
                    .text-box{
                        .title{
                           font-size: 18px; 
                        }
                        .text{
                            font-size: 16px;
                            margin: 20px 0px;
                            line-height: 1.7;
                        }
                        .more-link{
                            font-size: 16px;
                            color: $mainColor;
                            span{
                                position: relative;
                                &:before{
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    background: $mainColor;
                                    display: inline-block;
                                    position: absolute;
                                    bottom: -5px;
                                    left: 0px;
                                }
                                &:after{
                                    content: "";
                                    width: 0px;
                                    height: 1px;
                                    background: $mainColor;
                                    display: inline-block;
                                    position: absolute;
                                    bottom: -5px;
                                    left: 0px;
                                    transition: 500ms;
                                }
                                
                            }
                            &:hover span:before{
                                width: 0;
                            }
                            &:hover span:after{
                                width: 100%;
                            }
                        }

                    }
                }
                
            }
        }
        
    }

}

//container

@media (max-width : 1599px) {
    .container {
        .award-container {
            >.title {
                padding-left: 250px;
                font-size: 36px;
            }

            .award-wrapper {
                .award-item {
                    .text-box {
                        padding-left: 250px;
                        width: 370px;

                        .title {
                            font-size: 34px;
                        }

                        .text {
                            font-size: 14px;
                        }
                    }

                    .award-item-list {
                        padding-left: 250px;
                        padding-right: 100px;
                    }

                    .pause-btn {
                        right: 30px;
                    }
                }
            }
        }

        .option-container {
            .option-list {
                li {
                    .text-box {
                        top: 40px;
                        left: 40px;
                        width: 460px;

                        .title {
                            font-size: 26px;
                        }

                        .text {
                            font-size: 14px;
                        }

                        .line-btn {
                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .event-container {
            .text-box {
                left: 100px;

                .title {
                    font-size: 42px;
                }

                .text {
                    font-size: 20px;
                }

                .btn {
                    font-size: 14px;
                    width: 200px;
                    height: 52px;
                }
            }
        }
        .social-container{
            .sub-title{
                font-size: 16px;
            }
            .title{
                font-size: 42px;
            }
            .more-btn{
                font-size: 14px;
                width: 200px;
                height: 52px;
            }
        }
        .more-container{
            .inner{
                padding: 0px 100px;
                .more-list{
                    .text-box{
                        .title{
                            font-size: 16px;
                        }
                        .text{
                            font-size: 14px;
                        }
                        .more-link{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:1358px) {
    .container {
        .visual-container {
            .visual-list {
                .visual-item {
                    .text-wrapper {
                        padding: 80px 0px 0px 228px;

                        &:after {
                            width: 228px;
                        }

                        .sub-text {
                            font-size: 18px;
                        }

                        .title {
                            font-size: 48px;
                        }
                    }
                }
            }
        }

        //visual
        .model-container {
            padding-left: 150px;

            .inner {
                padding: 0px 76px;

                .title-box {
                    .title {
                        font-size: 26px;
                        margin-bottom: 10px;
                    }

                    .text {
                        font-size: 12px;
                    }
                }

                .category {
                    margin-bottom: 50px;
                }

                .model-wrapper {

                    .model-list {
                        gap: 20px;

                        .item {
                            padding: 20px;

                            .title-box {
                                .text {
                                    font-size: 13px;
                                }

                                .title {
                                    font-size: 18px;
                                }

                                .icon-list {
                                    img {
                                        height: 18px;
                                    }
                                }
                            }

                            .dic-btn {
                                margin-top: 30px;
                            }
                        }
                    }

                    .dot-wrapper {
                        margin-top: 20px;

                        .dot-list {
                            gap: 12px;

                        }
                    }
                }
            }
        }

        .icon-content-container {
            padding: 0px 80px;
        }

        .award-container {
            >.title {
                padding-left: 225px;
                font-size: 26px;
                margin-bottom: 30px;
            }

            .award-wrapper {
                .award-item {
                    .text-box {
                        padding-left: 225px;
                        width: 270px;
                        bottom: 23%;

                        .title {
                            font-size: 21px;
                            margin-bottom: 0px;

                            span {
                                margin-top: 0px;
                            }
                        }

                        .text {
                            font-size: 12px;
                        }
                    }

                    .award-item-list {
                        padding-left: 225px;
                        padding-right: 70px;

                        li {
                            a {
                                font-size: 12px;
                            }
                        }

                    }
                }
            }
        }

        .option-container {
            .option-list {
                gap: 20px;

                li {
                    .text-box {
                        top: 30px;
                        height: 30px;
                        width: 400px;

                        .title {
                            font-size: 20px;
                        }

                        .text {
                            font-size: 12px;
                        }

                        .link-btn {
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .event-container {
            .text-box {
                left: 70px;

                .title {
                    font-size: 26px;
                    margin-bottom: 30px;
                }

                .text {
                    font-size: 16px;
                    margin-bottom: 14px;
                }

                .btn {
                    font-size: 13px;
                    width: 190px;
                    height: 48px;
                }
            }
        }
        .social-container{
            .sub-title{
                font-size: 12px;
            }
            .title{
                font-size: 26px;
                margin-bottom: 34px;
            }
            .more-btn{
                font-size: 13px;
                width: 188px;
                height: 48px;
            }
        }
        .more-container{
            .inner{
                padding: 0px 75px;
            }
        }
    }

    //container  
}

@media (max-width:$laptop) {
    .container {
        .visual-container {
            height: calc(100vh - 60px);

            .visual-list {
                .visual-item {
                    .text-wrapper {
                        padding-left: 60px;

                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }

        //visual
        .model-container {
            padding-left: 80px;
            margin-bottom: 240px;

            .inner {
                padding: 0px 20px;
            }
        }

        .icon-content-container {
            padding: 0px;

            .inner {
                padding: 0px 110px;
            }
        }

        .award-container {
            >.title {
                padding-left: 100px;
            }

            .award-wrapper {
                width: 100%;

                .award-item {
                    position: static;

                    .text-box {
                        padding-left: 100px;
                        width: 300px;
                    }

                    .award-item-list {
                        padding-left: 0px;
                        padding-right: 20px;
                        width: 100%;
                        box-sizing: border-box;
                    }

                    .pause-btn {
                        bottom: 100px;
                    }
                }
            }

        }

        .option-container {
            .option-list {
                li {
                    .pc {
                        display: none;
                    }

                    .mobile {
                        display: block;
                    }

                    .text-box {
                        width: 300px;

                        .title {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .social-container{
            .social-list{
                flex-wrap: wrap;
                gap: 10px;
                li{
                    width: calc(50% - 5px);
                    .social-img{
                        padding-top: 40%;
                    }
                    &:first-of-type{
                        width: 100%;
                    }
                }
            }
        }
        .more-container{
            .inner{
                .more-list{
                    .text-box{
                        .title{
                            font-size: 18px;
                        }
                        .text{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    //container
}

@media (max-width:$mobile) {
    .container {
        .visual-container {

            .visual-list {
                .visual-item {
                    background-image: url('../../images/visual01-mobile.jpg');

                    .text-wrapper {
                        padding-left: 20px;

                        .text-link {
                            flex-direction: column;
                            gap: 24px;
                            bottom: 100px;

                        }
                    }
                }
            }

            .control-wrapper {
                bottom: 20px;
                top: auto;
            }


        }

        //visual
        .model-container {
            padding-left: 0px;
            overflow: hidden;

            .inner {
                padding: 0px;

                .title-box {
                    padding: 0px 30px;

                    .title {
                        font-size: 30px;
                        margin-bottom: 24px;
                    }

                    .text {
                        font-size: 16px;
                        line-height: 1.5;
                    }
                }
            }

            .category {
                display: none;
            }

            .categoryM {
                display: block;
            }

            .model-wrapper {
                .model-list {
                    .item {
                        width: 100%;
                        flex-shrink: 0;
                    }
                }
            }
        }

        .icon-content-container {
            .inner {
                padding: 0px;

                .icon-list {
                    flex-direction: column;
                    justify-content: start;

                    li {
                        width: 100%;
                        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
                        padding: 0px;

                        a {
                            flex-direction: row;
                            padding: 40px 30px;
                            gap: 16px;

                            img {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }

        .award-container {
            padding: 100px 0px 150px;

            >.title {
                padding-left: 30px;
            }

            .award-wrapper {
                .award-item {
                    padding: 0px 30px;
                    overflow: hidden;
                    box-sizing: border-box;

                    .text-box {
                        position: static;
                        width: 100%;
                        padding: 0px;
                        padding-top: 50px;
                        box-sizing: border-box;

                        .title {
                            font-size: 30px;
                            margin-bottom: 10px;
                        }

                        .text {
                            font-size: 16px;
                        }

                    }

                    .award-item-list {

                        overflow: hidden;

                        li {
                            width: 80%;
                            flex-shrink: 0;

                            a {
                                font-size: 14px;
                            }
                        }
                    }

                    .pause-btn {
                        display: none;
                    }
                }
            }

        }

        .option-container {
            .option-list {
                flex-direction: column;

                li {
                    width: 100%;

                    .text-box {
                        left: 0px;
                        padding: 0px 30px;
                        width: 100%;
                        box-sizing: border-box;

                        .title {
                            font-size: 30px;
                        }

                        .text {
                            font-size: 14px;
                        }

                        .link-btn {
                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .event-container {
            margin-bottom: 150px;

            .pc {
                display: none;
            }

            .mobile {
                display: block;
            }

            .text-box {
                width: 100%;
                left: 0px;
                padding: 0px 30px;
                box-sizing: border-box;

                .title {
                    font-size: 36px;
                }

                .text {
                    font-size: 26px;
                }

                .btn {
                    font-size: 16px;
                    width: 100%;
                    height: 52px;
                }
            }
        }

        .social-container{
            .social-list{
                gap: 0px;
                li{
                    width: 100%;
                    .social-img{
                        padding-top: 56%;
                    }
                    &:first-of-type{
                        .social-img{
                            padding-top: 100%;
                        }
                    }
                    .text-box{
                        position: relative;
                        opacity: 1;
                        padding: 20px 40px 40px 30px;
                        .bx{
                            top: -50px;
                            left: 30px;
                        }
                        .text{
                            color: #000000;
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                   
                    &:after{
                        display: none;
                    }
                }
            }
            .more-btn{
                width: calc(100% - 60px);
                margin: 0px auto;
                height: 56px;
                margin-top: 0px;
                
            }
        }
        .more-container{
            .inner{
                padding: 0px 30px;
                >.title{
                    margin-bottom: 10px;
                }
                .more-list{
                    flex-direction: column;
                    gap: 70px;
                    li{
                        width: 100%;
                    }
                }
            }
        }
    }
}