$laptop : 1023px;
$mobile : 767px;

$title : 'genesis-head-office-light',sans-serif;
$titleLight : 'genesis-head-office',sans-serif;
$text : 'genesis-text-office',sans-serif;


$mainColor : #111111;
$subColor : #ffffff;

$textColor : #000000;
$textColor2 : #dddddd; 